<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>
</div>

<%= vue2_island("counter", init_props: { count: 10, siteName: 'site"s name' }) %>
