<a href="/page">  to Page</a>
<!-- 最初にサーバーサイドでレンダリングされる部分 -->
<% @posts.each do |post| %>
  <div class="post">
    <%= link_to post_path(post) do %>
      <h2><%= post.title %></h2>
      <p><%= post.body %></p>
    <% end %>
  </div>
<% end %>

<!-- Vue.jsがマウントされる部分 -->
<%# <div id="infinite-scroll" style="overflow: scroll;">
  <div v-for="post in posts" :key="post.id" class="post">
    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p>
  </div>
  <div id="observer-target"></div> <!-- Intersection Observerが監視するターゲット -->
</div> %>

<div id="onboarding-container"></div>
